/* * {border: 1px solid red;} */

html, body {
    background-image: url("https://i.ibb.co/DQSYpHK/IMG-2325.png");
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 1px) {
    #desktopButtons {
        display: none;
    }
    #mobilebuttonPadding {
        margin: 0;
        margin-top: 10px;
        background-color: rgba(255, 255, 255, 0.897);
    }
    #headerContainer {
        width: auto;
        background-image: linear-gradient(#7428e6, #ab2e8cd7, #c94258e1, #c9425856, #c9425800);
        padding: 10px;
        border-radius: 10px;
    }
    #fullstack {
        justify-content: center;
        font-family: bauhaus;
        font-size: 20px;
        letter-spacing: 2px;
        color: whitesmoke;
        margin: 8px;
        margin-bottom: 0;
    }
    h1 {
        font-family: bauhaus;
        font-size: 45px;
        color: rgb(253, 197, 124);
        text-align: center;
        padding: 36px;
        padding-bottom: 0;
    }
    .homebox {
        font-family: bauhus;
        text-align: center;
        font-size: 20px;
        color: white;
    }
    .btn-block {
        border: none;
        cursor: pointer;
        outline: none;
        font-family: bauhaus;
        padding: 10px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+22,f1f1f1+43,cccccc+87&0.78+22,1+100 */
        background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.78) 0%, rgba(246, 246, 246, 0.78) 22%, rgba(241, 241, 241, 0.84) 43%, rgba(204, 204, 204, 0.96) 87%, rgba(204, 204, 204, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.78) 0%, rgba(246, 246, 246, 0.78) 22%, rgba(241, 241, 241, 0.84) 43%, rgba(204, 204, 204, 0.96) 87%, rgba(204, 204, 204, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.78) 0%, rgba(246, 246, 246, 0.78) 22%, rgba(241, 241, 241, 0.84) 43%, rgba(204, 204, 204, 0.96) 87%, rgba(204, 204, 204, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7ffffff', endColorstr='#cccccc', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
        color: black;
        font-size: 20px;
        letter-spacing: 2px;
        border-radius: 10px;
        margin: 10px;
        border: 2px solid black;
    }
    .col-4 {
        text-align: center;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .fa {
        padding: 15px;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        margin: 25%;
        border: 1px solid black;
        background-color: white;
    }
    .fa-github {
        color: black;
    }
    .fa-linkedin {
        color: rgb(0, 0, 182);
    }
    .icon-bar {
        position: fixed;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 20px;
    }
    footer {
        background-image: linear-gradient(#c9425800, #c94258da, #c94258cc, #c94258e1, #ab2e8ce8, #822effec);
        padding: 8%;
    }
    #homecontainer {
        display: none;
    }
    #mobilecontainer {
        color: rgb(230, 228, 228);
        border: 1px solid rgb(253, 197, 124);
        background-color: rgba(0, 0, 0, 0.575);
        box-shadow: 3px 3px 3px white;
        border-radius: 10px;
        margin: 10px;
        width: 94%;
        margin-top: 10%;
        padding: 10%;
    }
    .homerows {
        padding: 15px;
        padding-top: 0;
    }
    .fa-envelope-o {
        color: rgb(179, 29, 29);
    }
    .txt-railway {
        font-family: bauhus;
        font-size: 30px;
        color: rgb(253, 197, 124);
        text-align: center;
        margin: 0;
        margin-top: 20px;
    }
    #desktopHeader {
        display: none;
    }
    #desktopFooter {
        display: none;
    }
}

/* Medium to Large Devices */

@media only screen and (min-width: 768px) {
    #desktopHeader {
        display: inital;
    }
    #headercontainer {
        display: none;
    }
    #desktopButtons {
        display: initial;
    }
}