<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Jonathan Saylor</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- MOBILE  -->
  <div class="nav" id="myTopnav">
    <a href="/" class="nav--active">Jonathan Saylor</a>
    <a href="/projects">Projects</a>
    <a href="/skills">Skills</a>
    <a href="/art">Art</a>
    <a href="javascript:void(0);" class="nav--icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <script type="text/javascript">function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "nav") {
        x.className += " responsive";
      } else {
        x.className = "nav";
      }
    }</script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>