<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Jonathan Saylor</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

</head>

<body>
  <!-- MOBILE  -->
    <div class="container-fluid shadow-lg" id="headerContainer">
      <nav class="navbar navbar-1 white shadow-sm">
        <a class="navbar-brand" href="#">Jonathan Saylor</a>
        <button class="navbar-toggler shadow-sm" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15" aria-controls="navbarSupportedContent15"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent15">
          <ul class="navbar-nav mr-auto" style="padding-left: 6px;">
            <li class="nav-item">
              <a class="nav-link" routerLink="/skills">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/resume">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/art">Art</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="row" style="justify-content: center; font-size: 40px; margin-top: 10%; color: rgba(32, 20, 20, 0.938);">
        <p>Client Projects</p>
      </div>
      <hr>
      <div class="row" style="justify-content: center;">
        <a href="http://www.stevenmsaylor.com/" style="color: rgb(2, 11, 12); text-decoration: underline;">www.StevenMSaylor.com</a>
      </div>
      <br>
      <div class="row" style="justify-content: center;">
        <img src="https://i.ibb.co/Y7MH40D/stevewebsitescreenshot.png" style="width: 93%; height: 93%; border: 1px solid black; box-shadow: 3px 3px 3px rgb(65, 65, 65);">
      </div>
      <br>
      <div class="row" style="justify-content: center;">
        <p id="stevedescription">I designed this website for a client who works in the entertainment industry and needed a portfolio to display his
          previous work, projects, etc.</p>
        <div class="row" id="stevedescription" style="text-align: center; font-family: bauhus;">
          <div class="col-sm-12">
            <h2>Technologies used:</h2>
            <hr>
          </div>
          <div class="col-sm-12">
            <p>Express</p>
            <p>Angular 7</p>
            <p>Node.js</p>
            <p>Bootstrap</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row" style="justify-content: center; font-size: 40px; margin-top: 10%; color: rgba(32, 20, 20, 0.938);">
        <p>Personal Projects</p>
      </div>
      <hr>
      <div class="row" style="justify-content: center;">
        <a href="http://www.jonathansaylor.com/" style="color: rgb(2, 11, 12); text-decoration: underline;">www.JonathanSaylor.com</a>
      </div>
      <br>
      <div class="row" style="justify-content: center; margin-bottom: 15%;">
        <p id="stevedescription">I designed and constructed my portfolio to reflect my knowledge in multiple technologies, as well as a place to present
          my art.</p>
        <div class="row" id="stevedescription" style="text-align: center; font-family: bauhus;">
          <div class="col-sm-12">
            <h2>Technologies used:</h2>
            <hr>
          </div>
          <div class="col-sm-12">
            <p>Express</p>
            <p>Angular 7</p>
            <p>Node.js</p>
            <p>Bootstrap</p>
          </div>
        </div>
      </div>
    </div>
    <!-- END MOBILE -->


    <!-- DESKTOP -->
    <div class="container-fluid" id="desktopHeader">
      <div class="row justify-content-center">
        <div data-aos="fade-down" data-aos-offset="200" data-aos-delay="600" data-aos-duration="1000" data-aos-easing="ease-in-out">
          <h1>Jonathan Saylor</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div data-aos="fade" data-aos-offset="200" data-aos-delay="1000" data-aos-duration="2000" data-aos-easing="ease-in-out">
          <p id="fullstack">Full-Stack Web Developer</p>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-sm" style="padding: 5px;" id="desktopButtons">
      <button class="btn-block shadow-lg" id="buttonpadding">
        <div routerLink="/projects">Projects</div>
      </button>
    </div>
    <div class="col-sm" style="padding: 5px;" id="desktopButtons">
      <button class="btn-block shadow-lg" id="buttonpadding">
        <div routerLink="/portfolio">Portfolio</div>
      </button>
    </div>
    <div class="col-sm" style="padding: 5px;" id="desktopButtons">
      <button class="btn-block shadow-lg" id="buttonpadding">
        <div routerLink="/resume">Resume</div>
      </button>
    </div>
  </div>
  <div class="container" id="homecontainer">
    <div class="row">
      <div class="col-sm">
        <div class="homebox">
          I am a full stack web developer that specializes in front-end technologies. I am proficient in Python, MEAN, and web fundamentals
          stack. In addition to web development, I am an abstract artist and I use my robust imagination to bring forth unique,
          dynamic, yet structured projects for my clients. I have a diligent work ethic and I aim to bring my creativeness
          and experience to game development companies and front-end web design projects.
        </div>
      </div>
    </div>
  </div>
  <!-- END DESKTOP -->

  <!-- mobile footer -->
  <div data-aos="fade" data-aos-duration="600" data-aos-easing="ease-in" id="mobileFooter">
    <footer>
      <p class="txt-railway">- Get In Touch -</p>
      <hr>
      <div class="row">
        <div class="col-4">
          <a href="mailto:jsaylor23@hotmail.com" class="fa fa-envelope-o" aria-hidden="true"></a>
        </div>
        <div class="col-4">
          <a href="https://github.com/jonathanmsaylor" class="fa fa-github" aria-hidden="true"></a>
        </div>
        <div class="col-4">
          <a href="https://www.linkedin.com/in/jonathan-saylor/" class="fa fa-linkedin" aria-hidden="true"></a>
        </div>
      </div>
    </footer>
  </div>
  <!-- end mobile footer -->

  <!-- desktop footer -->
  <div data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" data-aos-easing="ease-in" id="desktopFooter">
    <footer>
      <p class="txt-railway">- Get In Touch -</p>
      <hr>
      <div class="row">
        <div class="col-4">
          <div class="row" id="phoneEmail">
            <h2 style="text-decoration: underline;">Phone</h2>
          </div>
          <div class="row" id="phoneEmail">
            <h5>661-400-3507</h5>
          </div>
        </div>
        <div class="col-4">
          <a href="https://www.imdb.com/name/nm0768513/" class="fa fa-git"></a>
        </div>
        <div class="col-4">
          <div class="row" id="phoneEmail">
            <h2 style="text-decoration: underline;">Email</h2>
          </div>
          <div class="row" id="phoneEmail">
            <h5>StevenMSaylor@gmail.com</h5>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- end desktop footer -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>